# Editor configuration, see https://editorconfig.org
root = true

[*]
charset = utf-8                 # Sets the character encoding to UTF-8.
indent_style = space            # Uses spaces for indentation.
indent_size = 2                 # Sets the size of each indentation level to 2 spaces.
insert_final_newline = true     # Ensures there is a newline at the end of the file.
trim_trailing_whitespace = true  # Removes any trailing whitespace at the end of lines.


[*.ts]
quote_type = single                            # Enforces the use of single quotes in TypeScript files.
ij_typescript_use_double_quotes = false       # Specific to IntelliJ IDEs; enforces the use of single quotes in TypeScript.


[*.md]
max_line_length = off                          # No maximum line length is enforced for Markdown files.
trim_trailing_whitespace = false               # Trailing whitespace is allowed in Markdown files.

